.content {
    font-size: 16px;
    font-weight: normal;
    h2 {
        margin-top: 40px;
        font-size: 2.5em;
        border-left: 4px solid #03A9F4;
        border-bottom: solid 1px #D8D8D8;
        padding: 10px 0 10px 20px;
    }
    h3 {
        margin: 20px auto;
        position: relative;
        border-bottom: 2px solid #03A9F4;
        padding: 0 10px;
        font-size: 2em;
    }
    h4 {
        border-left: 2px solid #03A9F4;
        padding: 0 10px;
        font-size: 1.5em;
    }
    pre {
        overflow: scroll;
        padding: 10px;
        background: #212121;
        code{
            font-size: 1em;
            color: #fff;
            border: none;
        }
    }
    code {
        border: 1px solid #ddd;
        border-radius: 2px;
        margin: 0 2px;
        padding: 2px 4px;
        font-size: 1em;
        color: #ff357f;
    }
}